body {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image: url(/content/portfolio-bg.png);
  background-size: cover;
  background-position: center;
  background-color: #1b5629;
    background-blend-mode: overlay;
    background-attachment: fixed;
}
.my-photo {
  padding: 0;
  margin: 0;
}
.my-photo img {    bottom: 0;
  right: 0;
  max-width: 300px;   position: fixed;
 filter:contrast(1.2) grayscale(1);}
 svg.intro {
   max-width: 800px;
   top: 0%;
   left: 50%;
   transform: translate(-50%, -0%);
  }
  .head svg.intro {left: 0; transform: translate(0,0);}
svg.intro .text { 
    display: none;
  }
svg.intro .go .text {
      font-family: Arial, sans-serif;
      font-size: 20px;
      text-transform: uppercase;
      display: block;
}
svg.intro .text-stroke {
      fill: none;
      stroke: #34990f;
      stroke-width: 2.8px;
      stroke-dashoffset: -900;
      stroke-dasharray: 900;
      stroke-linecap: butt;
      stroke-linejoin: round;
      animation: dash 2.5s ease-in-out forwards;
}
svg.intro .text-stroke:nth-child(2) {
      animation-delay: .3s;
}
svg.intro .text-stroke:nth-child(3) {
      animation-delay: .9s;
}
svg.intro .text-stroke-2 {
      stroke: #9eb695;
      animation-delay: 1.2s;
}
svg.intro .text-stroke:nth-child(5) {
      animation-delay: 1.5s;
}
svg.intro .text-stroke:nth-child(6) {
      animation-delay: 1.8s;
}

text[clip-path="url(#text2)"], 
text[clip-path="url(#text1)"],
.name{
  font-family: 'Noto Serif', serif !important;
}

text[clip-path="url(#text3)"], text.ui-dev {
  font-size: 70% !important;
 
  
}
  
.greyscale {animation: grayScale 1s forwards;}


.mission {
  color: #9eb695;
  font-family: 'Noto Serif', serif !important;
  padding: 4rem 2rem;
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%);
  position: relative;
}
.mission svg.intro {   max-width: 400px;
  position: relative;
  top: 0%;
  left: 0%;
  transform: translate(00%, -0%);}
.mission .heading {font-size: 30px;}
.mission ul {width: calc(100% - 300px);}
.mission li {align-items: center; padding-bottom: 2rem; padding-top: 1rem; border-bottom: 1px dashed #9eb695; display: flex;}
.mission li::marker {content: '';}
.wrapper {max-width: 1200px; margin: auto;}

text[clip-path="url(#text4)"], text.my-mission {
  font-size: 20px !important;
}


.notif {
  position: fixed;
  bottom: 45vh;
  right: 8vw;
  width: 183px;
  opacity: 0;
}
  .bar {
    position: relative;
    border-radius: 1000px;
    background: rgba(255,255,255,0.3);
    color: white;
    height: auto;
    line-height: 1;
    width: 0;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
  }

  .block1 {
    width: 48.5%;
    border: 1px solid #9eb695;
    height: 50%;
    display: inline-block;
  }
.block2 {
  width: 49%;
  border: 1px solid #9eb695;
  height: 50%;
  margin-left: auto;
  display: inline-flex;
}
.block3 {
  display: block;
  width: 99%;
  border: 1px solid #9eb695;
  height: 46%;

}
.chat-message {text-align: center; margin: 0; padding: .25rem; font-family: 'Noto Serif', serif !important; font-size: 12px;}
  .responsive-animation {
    padding: 1rem;
    height: 150px;
    border: 1px solid #9eb695;
    margin-left: 2rem;
    width: 100%;
  }
  .anim-start .notif {
        opacity: 1;
        transition-duration: .2s;
        transition-delay: 1.6s;
  }
  .anim-start .bar {
          width: 100%;
          transition-duration: .6s;
          transition-delay: 1.6s;
        }


        @media screen and (min-width: 1200px) {
          .notif {
            position: absolute;
            bottom: 10vw;
            right: 15vw;
            width: 183px;
          }
        }

@media screen and (max-width: 650px) {
  .mission svg.intro {left: -1rem;}
  .mission ul {
    width: 100%;
    padding-left: 0;
}
  text[clip-path="url(#text2)"], text[clip-path="url(#text1)"], .name {font-size: 6vw;}
  text[clip-path="url(#text3)"], text.ui-dev {
    font-size: 100% !important;
}
  .my-photo img {
    height: auto;
    width: 50vw;
    margin: auto;
    bottom: 0;
  }

text[clip-path="url(#text4)"], text.my-mission {
  font-size: 4.5vw !important;
}
.notif {
  position: fixed;
  bottom: 5vh;
  right: 30vw;
}
}
#chat {white-space: nowrap; color:white; font-weight: 800; text-decoration: underline;}
#cancel-contact {
  background-color: #34990f;
  color: white;
  padding: .25rem .5rem;
  border-radius: 5px;
  box-shadow:0 1px 1px 1px #1b5629; 
  cursor: pointer;
}
form {display: none;}

form {
   max-width: 600px;
   text-align: center;
   margin: 15px auto;
   margin-right: .25rem;
}
  input, textarea {
     border:0; outline:0;
     padding: .5rem 1em;
     border-radius: 8px;
     display: block;
     width: 87%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     box-shadow: 0 1px 1px #1b5629;
     resize: none;
  }
   input:focus, textarea:focus {
       box-shadow:0 0px 2px #9eb695!important;
    }
  
  
  #input-submit {
     color: white; 
     background: #34990f;
     cursor: pointer;
     width: 100%;
  }

   #input-submit:hover, #input-submit:focus, #cancel-contact:hover, #cancel-contact:focus {
       box-shadow:0 1px 1px 1px #9eb695; 
    }
  
  
  textarea {
      height: 126px;
  }



.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}


@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}


@keyframes grayScale {
  0% {
    filter: grayscale(0);

  }
  100% {
      filter: grayscale(1);
  }
}



