body {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image: url(/content/portfolio-bg.png);
  background-size: cover;
  background-position: center;
  background-color: #1b5629;
    background-blend-mode: overlay;
    background-attachment: fixed;
}
.my-photo {
  padding: 0;
  margin: 0;
}
.my-photo img {    bottom: 0;
  right: 0;
  max-width: 300px;   position: fixed;
 filter:contrast(1.2) grayscale(1);}
 svg.intro {
   max-width: 800px;
   top: 0%;
   left: 50%;
   transform: translate(-50%, -0%);
  }
  .head svg.intro {left: 0; transform: translate(0,0);}
svg.intro .text { 
    display: none;
  }
svg.intro .go .text {
      font-family: Arial, sans-serif;
      font-size: 20px;
      text-transform: uppercase;
      display: block;
}
svg.intro .text-stroke {
      fill: none;
      stroke: #2b6217;
      stroke-width: 2.8px;
      stroke-dashoffset: -900;
      stroke-dasharray: 900;
      stroke-linecap: butt;
      stroke-linejoin: round;
      animation: dash 2.5s ease-in-out forwards;
}
svg.intro .text-stroke:nth-child(2) {
      animation-delay: .3s;
}
svg.intro .text-stroke:nth-child(3) {
      animation-delay: .9s;
}
svg.intro .text-stroke-2 {
      stroke: #9eb695;
      animation-delay: 1.2s;
}
svg.intro .text-stroke:nth-child(5) {
      animation-delay: 1.5s;
}
svg.intro .text-stroke:nth-child(6) {
      animation-delay: 1.8s;
}

text[clip-path="url(#text2)"], 
text[clip-path="url(#text1)"],
.name{
  font-family: 'Noto Serif', serif !important;
}

text[clip-path="url(#text3)"], text.ui-dev {
  font-size: 70% !important;
 
  
}
  
.greyscale {animation: grayScale 1s forwards;}


.mission {
  color: #9eb695;
  font-family: 'Noto Serif', serif !important;
  padding: 4rem 2rem;
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%);
  position: relative;
}
.mission svg.intro {   max-width: 400px;
  position: relative;
  top: 0%;
  left: 0%;
  transform: translate(00%, -0%);}
.mission .heading {font-size: 30px;}
.mission ul {width: calc(100% - 300px);}
.mission li {padding-bottom: 2rem; padding-top: 1rem; border-bottom: 1px dashed #9eb695; display: flex;}
.mission li::marker {content: '';}
.wrapper {max-width: 1200px; margin: auto;}

text[clip-path="url(#text4)"], text.my-mission {
  font-size: 20px !important;
}


.notif {
  position: fixed;
  bottom: 52vh;
  right: 8vw;
  width: 183px;
  opacity: 0;
}
  .bar {
    position: relative;
    border-radius: 1000px;
    background: #FFF;
    height: auto;
    line-height: 1;
    width: 0;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
  }



.chat-message {text-align: center; margin: 0; padding: .25rem; font-family: 'Noto Serif', serif !important; font-size: 12px;}
  .responsive-animation {
    display: flex;
    height: 150px;
    border: 1px solid;
    margin-left: 2rem;
    width: 100%;
  }
  .anim-start .notif {
        opacity: 1;
        transition-duration: .2s;
        transition-delay: 1.6s;
  }
  .anim-start .bar {
          width: 100%;
          transition-duration: .6s;
          transition-delay: 1.6s;
        }


        @media screen and (min-width: 1200px) {
          .notif {
            position: absolute;
            bottom: 10vw;
            right: 15vw;
            width: 183px;
          }
        }

@media screen and (max-width: 550px) {
  text[clip-path="url(#text2)"], text[clip-path="url(#text1)"], .name {font-size: 6vw;}
  text[clip-path="url(#text3)"], text.ui-dev {
    font-size: 100% !important;
}
  .my-photo img {
    height: auto;
    width: 50vw;
    margin: auto;
    bottom: 0;
  }
  text[clip-path="url(#text4)"], text.my-mission {
    font-size: 7.5vw !important;
}
text[clip-path="url(#text4)"], text.my-mission {
  font-size: 3.5vw !important;
}
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}


@keyframes grayScale {
  0% {
    filter: grayscale(0);

  }
  100% {
      filter: grayscale(1);
  }
}